body {
    margin: 0;
    background-color: azure;
}

* {
    font-family: 'Lato', sans-serif;
}

.header-grid{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: aquamarine;
}
.header {
    background-color: aquamarine;
    padding: 10px 20px;
    border-bottom: 1px solid aqua;
    box-shadow: 1px 2px 3px #bbb;
}
.logo{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:20px;
    align-items: center;
}
.website-menu{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:10px;
    align-items: center;
}
.menu-item:hover{
    color:red;
}
.menu-item {
    text-decoration:none;
    color:blue;
}
.open-admission {
    width: 400px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    margin: 100px 500px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #bbb;
    background-color:cornsilk;
  
}


.input-grid{
    display: grid;
    grid-template-columns: 135px auto;
    margin-bottom: 10px;
}
.scroll{
    background-color: yellowgreen;
    color: #ffffff;
    padding: 5px 10px;
}
.input-row{
    display: grid;
    grid-template-columns: 135px 100px;
    margin-bottom: 10px;
}
.admission-row{
    display:grid;
    grid-template-columns: 60px 100px 150px 100px 150px 150px 150px 150px 100px 100px 100px;
    border-bottom: 1px solid #bbb;

}
.admission-list-header{
    background: purple;
    color: aliceblue;

}
.heading-filter-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.filtering{
   display: flex;
   justify-content: flex-end; 
}