.fifty-fifty-grid {
    display: grid;
    grid-template-columns: 48% 45%;
    grid-gap: 2%;
}
.input-row{
    display:grid;
    grid-template-columns: 70px 200px;
    margin-bottom:10px;
}
#button{
    background-color:red;
    cursor: pointer;
}
.studet-row {
    display: grid;
    grid-template-columns: 30px 200px 250px 100px 30px;
    border-bottom: 1px solid #cdcdcd;
}
