.thirty-sixty-grid {
    display: grid;
    grid-template-columns: 35% 63%;
    grid-gap: 2%;
}
.input-row{
    display:grid;
    grid-template-columns: 70px 200px;
    margin-bottom:10px;
}
#button{
    background-color:red;
    cursor: pointer;
}
.studet-row {
    display: grid;
    grid-template-columns: 30px 100px 300px 100px 100px 30px;
    border-bottom: 1px solid #cdcdcd;
    background-color: darkorange;
}
